span{
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aliceblue;
  margin-left: 5px;
}
.list li{
  line-height: 1.7;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 10px 0;
  background-color: rgb(247, 255, 159);
}
.list ul{
  margin: 0;
  padding: 0;
}
.write input{
  display: block;
  margin: 3px 0;
  height: 20px;
}
.write input:nth-of-type(3){
  height: 30px;
  margin: 10px 0;
}
