article{
  width: 50%; margin: 100px auto;
  padding: 60px; border: 1px solid black;
  border-radius: 30px;

}
input, textarea{
  width: 100%; margin: 5px 0;
  padding: 10px;
}
textarea{height: 200px;}
ul{padding: 0;}
li{
  padding: 15px 0; border-bottom: 1px dashed black;
  list-style: none;
}
*{box-sizing: border-box;}
