
html{font-size: 24px; line-height: 2;}
.wrap{
  display: flex;
  justify-content: space-between;
}
header{
  width: 15%; height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  nav{
    a{
      color: white; display: block; font-size: .8rem;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
main{
  width: 80%; height: 100vh;
  overflow: auto;
}

button{
  font-size: 20px;
  cursor: pointer;
}