


$wid : 1000px;

@mixin flex($x:flex-start,$y:flex-start){
    display: flex;    justify-content: $x;    align-items: $y;
    @content;
}


header{
    padding:20px 0;
    width : $wid;
    margin:0 auto;

    @include flex(space-between,center);

    h1{font-size:2rem;}
    nav{
        a{padding:0 20px; color:red;}
    }
}
main{ width:$wid; margin:0 auto; }

.spot{
    figure{
        margin:0;
        @include flex(space-between){
            flex-wrap: wrap;
        };
        img{width:30%;}
    }
}