@import url('./reset.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");


header{}
header > article{
    width:1200px;
    margin:60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
header > article > h1{}
header > article > h1>a{}

header > article > nav{}
header > article > nav > a{padding:15px;}

header > article .trigger{}
header > article .trigger > a{
    width:26px; height:16px; display: block;
    position: relative;
}
header > article .trigger > a > span{
    position:absolute; left:0; top:50%;
    background-color: black;
    width:100%; height:2px;
    margin:2px 0;
    transition: 1s;
}
header > article .trigger > a > span:nth-child(1){
    transform: translateY(-300%);
}
header > article .trigger > a > span:nth-child(2){
    width:50%;
}
header > article .trigger > a > span:nth-child(3){
    width:70%;
    transform: translateY(300%);
}





header > article .trigger > a:hover > span:nth-child(1){
    transform: translateY(0%) rotate(45deg);
}
header > article .trigger > a:hover > span:nth-child(2){
    width:100%;
    transform: translateY(0%); opacity: 0;
}
header > article .trigger > a:hover > span:nth-child(3){
    width:100%;
    transform: translateY(0%) rotate(-45deg);
}










main{}
.spot{
    height:750px; 
    background: url('../imgs/img_summer_backg.jpg') 0 0 /cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.spot > article{
    background-color: white;
    padding:50px 60px;    
    box-shadow: 1px 2px 38px rgba(0,0,0,0.3);
    transition: 0.5s;
}
.spot:hover > article{
    transform: translate(-20px, -20px);
    box-shadow: 20px 20px 38px rgba(0,0,0,0.8);
}


.spot > article > h2{
    display: flex; justify-content: space-between;
}
.spot > article > h2 > span{}
.spot > article > h2 > span> a{font-size:0; margin-left:20px;}
.spot > article > h2 > span> a::before{font-size:20px;}
.spot > article > h2 > span> a:hover{color:red}

.spot > article > figure{}
.spot > article > figure > p{}
.spot > article > figure > p > img{width:100%;}

.spot > article > figure > figcaption{}
.spot > article > figure > figcaption > p{}
.spot > article > figure > figcaption > p > mark{}
.spot > article > figure > figcaption > p > a{}


footer{text-align: center; margin:200px 0;}